html,
body,
#app {
    height: 100%;
    margin: 0px;
    padding: 0px;
    min-width: 1366px;
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    background-color: #007dff;
    /* background-color:#87CEFA; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.el-breadcrumb{
    margin-bottom: 15px;
}

.el-card{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}
.el-table{
    margin-top: 15px;
    font-size: 12px;
}
.el-pagination{
    margin-top: 15px;
}
.el-cascader-menu {
    height: 300px;
  }

.el-steps{
  margin: 15px 0px;  
}

.el-step__title {
    font-size: 12px;
}
.quill-editor{
    height: 260px;
}